body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background-color: cadetblue;
}

.main {
    flex: 4;
    display: flex;
    min-width: 100%;
    justify-content: center;
    background-color: bisque;
    height: 100%;
}

.cell {
    border: 1px solid black;
    background-color: lightgray;
    width: 20px;
    height: 20px;
}