body {
    font-family: 'Open Sans', 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background-color: cadetblue;
}

.main {
    display: flex;
    flex: 1;
    min-width: 100%;
    justify-content: center;
    background-color: bisque;
}